.todo
  .todo__header
    .todo__header__box1
      TODOリスト
    .todo__header__box2
      .todo__header__box2__name
        = current_user.name
      = link_to edit_user_path(current_user) do
        = icon('fas', 'cog', class: 'todo__header__box2__name__cog-btn')
    = form_tag search_tasks_path,method: 'get' do 
      = "ToDo検索" 
      = text_field_tag :keyword," ",placeholder: "Enter Your name"
      = submit_tag '検索',content: :nil
    = link_to "戻る", "/", method: :get

  .todo__main
  .todo__main__list
    - @tasks.each do |task|
      .todo__main__list__to-do
        = link_to "#{task.content}", "/tasks/#{task.id}", method: :get
        = link_to '削除', "/tasks/#{task.id}", method: :delete